variables:
  terraformVersion: 'latest'
  backendServiceArm: 'Bhawesh-SP'
  azureSubscriptionId: '18bbb1ca-f79e-49b4-8669-5a1208da00f7'
  backendAzureRmResourceGroupName: 'bhaweshnew'
  storageAccountName: 'bhaweshmishra'
  backendAzureRmContainerName: 'bhaweshcontainer'
  backendAzureRmKey: 'bhawesh.tfstate'
  environment: 'dev'
  workingDirectory: '$(System.DefaultWorkingDirectory)/environments/$(environment)'
  INFRACOST_API_KEY: ico-mWw23dRXsTRo6XLQud97J8jZUkRyqlKH


trigger:
  branches:
    include:
      - main  

pool:
  name: 'bhaweshpool'   

stages:

# Stage 1: Terraform Init & Plan
- stage: InfraExecution
  displayName: "Terraform Init & Plan"
  jobs:
    - job: TerraformInitPlan
      displayName: "Terraform Init and Plan"
      steps:

        - task: TerraformInstaller@1
          displayName: "Install Terraform"
          inputs:
            terraformVersion: 'latest' 

        - task: TerraformTask@5
          displayName: "Terraform Init"
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(workingDirectory)'
            backendServiceArm: '$(backendServiceArm)'
            backendAzureRmResourceGroupName: '$(backendAzureRmResourceGroupName)'
            backendAzureRmStorageAccountName: '$(storageAccountName)'
            backendAzureRmContainerName: '$(backendAzureRmContainerName)'
            backendAzureRmKey: '$(backendAzureRmKey)'

    - job: tfsec
      displayName: tfsec
      steps:
      - task: tfsec@1
        inputs:
          version: 'v1.26.0'
          workingDirectory: '$(workingDirectory)'
    - job: tflint
      displayName: terraform lint
      dependsOn: tfsec
      steps:
      - task: PowerShell@2
        inputs:
          targetType: 'inline'
          script: |
            winget install TerraformLinters.tflint     
                      ls   
                      tflint
          continueOnError: true 
          workingDirectory: '$(workingDirectory)'
    - job: sonar_squbescanner
      displayName: sonarscanner
      dependsOn: tfsec
      steps:
        - 
# Stage 2: Terraform Plan
- stage: terraform_plan
  displayName: Terraform Plan
  dependsOn: InfraExecution
  jobs:
    - job: terraformplan
      steps:
      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'init'
          backendServiceArm: '$(backendServiceArm)'
          workingDirectory: '$(workingDirectory)'
          backendAzureRmResourceGroupName: '$(backendAzureRmResourceGroupName)'
          backendAzureRmStorageAccountName: '$(storageAccountName)'
          backendAzureRmContainerName: '$(backendAzureRmContainerName)'
          backendAzureRmKey: '$(backendAzureRmKey)'

      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'plan'
          environmentServiceNameAzureRM: '$(backendServiceArm)'
          workingDirectory: '$(workingDirectory)'
          backendAzureRmOverrideSubscriptionID:  '$(azureSubscriptionId)'
# Stage 3: Terraform Infracost
- stage: terraform_infracost
  displayName: Cost & Impact Assessment Stage
  dependsOn: terraform_plan
  jobs:
  - job: terraforminfracost
    steps:
    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: 'infracost breakdown --path=.'
        workingDirectory: '$(workingDirectory)'
      
      env:
        INFRACOST_API_KEY: $(INFRACOST_API_KEY)  
      continueOnError: true      

# #  Stage 4:Terraform Apply
# - stage: Terraform_Apply
#   displayName: "Terraform Apply"
#   dependsOn: terraform_initplan
#   condition: succeeded()
#   jobs:
#     - job: TerraformApply
#       steps:

#         - task: TerraformTask@5
#           displayName: "Terraform Init (Apply)"
#           inputs:
#             provider: 'azurerm'
#             command: 'init'
#             workingDirectory: '$(workingDirectory)'
#             backendServiceArm: '$(backendServiceArm)'
#             backendAzureRmResourceGroupName: '$(backendAzureRmResourceGroupName)'
#             backendAzureRmStorageAccountName: '$(storageAccountName)'
#             backendAzureRmContainerName: '$(backendAzureRmContainerName)'
#             backendAzureRmKey: '$(backendAzureRmKey)'

#         - task: TerraformTask@5
#           displayName: "Terraform Apply"
#           inputs:
#             provider: 'azurerm'
#             command: 'apply'
#             workingDirectory: '$(workingDirectory)'
#             commandOptions: '--auto-approve'
#             environmentServiceNameAzureRM: 'Bhawesh-SP'

# # Stage 5 : Terraform Destroy
# - stage: terraform_destroy
#   displayName: terraform destroy
#   dependsOn: Terraform_Apply
  
#   jobs:
#     - job: terrform_destroy
#       steps:
#       - task: TerraformTask@5
#         inputs:
#           provider: 'azurerm'
#           command: 'destroy'
#           commandOptions: '--auto-approve'
#           environmentServiceNameAzureRM: 'Bhawesh-SP'
#           workingDirectory: '$(workingDirectory)'