
variables:
  terraformVersion: 'latest'
  backendServiceArm: 'Bhawesh-SP'
  azureSubscriptionId: '18bbb1ca-f79e-49b4-8669-5a1208da00f7'
  backendAzureRmResourceGroupName: 'bhaweshnew'
  storageAccountName: 'bhaweshmishra'
  backendAzureRmContainerName: 'bhaweshcontainer'
  backendAzureRmKey: 'bhawesh.tfstate'
  environment: 'dev'
  workingDirectory: '$(System.DefaultWorkingDirectory)/environments/$(environment)'

trigger:
  branches:
    include:
      - main  
pool:
  name: 'bhaweshpool'   

stages:


# Stage 1: Terraform Init & Plan

- stage: InfraExecution
  displayName: "Terraform Init & Plan"
  jobs:
    - job: TerraformInitPlan
      displayName: "Terraform Init and Plan"

      steps:
        # Install Terraform
        - task: TerraformInstaller@1
          displayName: "Install Terraform"
          inputs:
            terraformVersion: 'latest' 

        # Terraform Init
        - task: TerraformTask@5
          displayName: "Terraform Init"
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(workingDirectory)'
            backendAzureRmUseEntraIdForAuthentication: false
            backendServiceArm: '$(backendServiceArm)'
            backendAzureRmOverrideSubscriptionID: '$(azureSubscriptionId)'
            backendAzureRmResourceGroupName: '$(backendAzureRmResourceGroupName)'
            backendAzureRmStorageAccountName: '$(storageAccountName)'
            backendAzureRmContainerName: '$(backendAzureRmContainerName)'
            backendAzureRmKey: '$(backendAzureRmKey)'

        # Terraform Plan
        - task: TerraformTask@5
          displayName: "Terraform Plan"
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(workingDirectory)'
            environmentServiceNameAzureRM: 'Bhawesh-SP'
            environmentAzureRmOverrideSubscriptionID: '$(azureSubscriptionId)'
            # additionalArguments: '-out=$(workingDirectory)/tfplan'

        # # Publish plan artifact for next stage
        # - publish: '$(workingDirectory)/tfplan'
        #   artifact: tfplan


# Stage 2: Terraform Apply

- stage: InfraApply
  displayName: "Terraform Apply"
  dependsOn: InfraExecution
  condition: succeeded() 
  jobs:
    - job: TerraformApply
      displayName: "Terraform Apply"
      pool:
        name: 'bhaweshpool'
      steps:
      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'init'
          backendServiceArm: 'Bhawesh-SP'
          backendAzureRmUseEntraIdForAuthentication: false
          workingDirectory: '$(workingDirectory)'
          backendAzureRmResourceGroupName: '$(backendAzureRmResourceGroupName)'
          backendAzureRmStorageAccountName: 'bhaweshmishra'
          backendAzureRmContainerName: 'bhaweshcontainer'
          backendAzureRmKey: 'bhawesh.tfstate'

        # Terraform Apply


      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'apply'
          commandOptions: '--auto-approve'
          environmentServiceNameAzureRM: 'Bhawesh-SP'
