
trigger:
  - main

stages:
- stage: TerraformInitPlan
  displayName: 'Terraform Init & Plan'
  jobs:
  - job: TerraformInitPlan
    displayName: 'Init & Plan'
    pool:
      name: bhaweshnew
    steps:
      - checkout: self

      - task: TerraformInstaller@1
        displayName: 'Install Terraform'
        inputs:
          terraformVersion: 'latest'

      - task: TerraformTaskV4@4
        displayName: 'Terraform Init'
        inputs:
          provider: 'azurerm'
          command: 'init'
          workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
          backendServiceArm: 'Bhawesh_new'
          backendAzureRmResourceGroupName: 'G20_RG'
          backendAzureRmStorageAccountName: 'bhaweshstg'
          backendAzureRmContainerName: 'tfstate'
          backendAzureRmKey: 'bhawesh.tfstate'

      - task: TerraformTaskV4@4
        displayName: 'Terraform Plan'
        inputs:
          provider: 'azurerm'
          command: 'plan'
          workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
          environmentServiceNameAzureRM: 'Bhawesh_new'

- stage: TerraformApply
  displayName: 'Terraform Apply'
  dependsOn: TerraformInitPlan
  condition: succeeded()
  jobs:
  - job: Apply
    displayName: 'Apply Terraform Plan'
    pool:
      name: bhaweshnew
    steps:
      - checkout: self

      - task: TerraformTaskV4@4
        displayName: 'Terraform Apply'
        inputs:
          provider: 'azurerm'
          command: 'apply'
          workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
          commandOptions: '-auto-approve'
          environmentServiceNameAzureRM: 'Bhawesh_new'


     

