trigger: none
pool: bhaweshpool
  

steps:

- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
    backendAzureRmUseEntraIdForAuthentication: false
    backendServiceArm: 'Bhawesh-SP'
    backendAzureRmOverrideSubscriptionID: '18bbb1ca-f79e-49b4-8669-5a1208da00f7'
    backendAzureRmResourceGroupName: 'bhaweshnew'
    backendAzureRmStorageAccountName: 'bhaweshmishra'
    backendAzureRmContainerName: 'bhaweshcontainer'
    backendAzureRmKey: 'bhawesh.tfstate'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
    environmentServiceNameAzureRM: 'Bhawesh-SP'
    environmentAzureRmOverrideSubscriptionID: '18bbb1ca-f79e-49b4-8669-5a1208da00f7'