
variables:
  terraformVersion: 'latest'
  backendServiceArm: 'Bhawesh-SP'
  azureSubscriptionId: '18bbb1ca-f79e-49b4-8669-5a1208da00f7'
  backendAzureRmResourceGroupName: 'bhaweshnew'
  storageAccountName: 'bhaweshmishra'
  backendAzureRmContainerName: 'bhaweshcontainer'
  backendAzureRmKey: 'bhawesh.tfstate'
  environment: 'dev'
  workingDirectory: '$(System.DefaultWorkingDirectory)/environments/$(environment)'

trigger:
  branches:
    include:
      - main  
pool:
  name: 'bhaweshpool'   

stages:


# Stage 1: Terraform Init & Plan

- stage: InfraExecution
  displayName: "Terraform Init & Plan"
  jobs:
    - job: TerraformInitPlan
      displayName: "Terraform Init and Plan"

      steps:
        # Install Terraform
        - task: TerraformInstaller@1
          displayName: "Install Terraform"
          inputs:
            terraformVersion: 'latest' 

        # Terraform Init
        - task: TerraformTask@5
          displayName: "Terraform Init"
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(workingDirectory)'
            backendAzureRmUseEntraIdForAuthentication: false
            backendServiceArm: '$(backendServiceArm)'
            backendAzureRmOverrideSubscriptionID: '$(azureSubscriptionId)'
            backendAzureRmResourceGroupName: '$(backendAzureRmResourceGroupName)'
            backendAzureRmStorageAccountName: '$(storageAccountName)'
            backendAzureRmContainerName: '$(backendAzureRmContainerName)'
            backendAzureRmKey: '$(backendAzureRmKey)'

        # Terraform Plan
        - task: TerraformTask@5
          displayName: "Terraform Plan"
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(workingDirectory)'
            environmentServiceNameAzureRM: 'Bhawesh-SP'
            environmentAzureRmOverrideSubscriptionID: '$(azureSubscriptionId)'



- stage: Terraform_Apply 
  displayName:  "Terraform Apply"
  pool:
   name: bhaweshpool
  dependsOn: InfraExecution
  condition: succeeded()
  jobs:
   - job: TerraformApply
     steps:
     - task: TerraformTask@5
       inputs:
         provider: 'azurerm'
         command: 'init'
         backendServiceArm: 'Bhawesh-SP'
         backendAzureRmResourceGroupName: 'bhawehnew'
         backendAzureRmStorageAccountName: 'bhaweshmishra'
         backendAzureRmContainerName: 'bhaweshcontainer'
         backendAzureRmKey: 'bhawesh.tfstate'
     - task: TerraformTask@5
       inputs:
         provider: 'azurerm'
         command: 'apply'
         workingDirectory: '$(workingDirectory)'
         commandOptions: '--auto-approve'
         environmentServiceNameAzureRM: 'Bhawesh-SP'

    